/*PROPRIETES GENERALES*/

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: black;
  width: 100%;
  margin: 0px;
}

/*VARIABLES*/

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$backgroundgrey: rgb(241, 238, 238);
$box: 3px 3px 3px rgb(228, 226, 226);
@mixin degrade_color {
  background: linear-gradient(171deg, $secondary, $primary);
}

/*HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 10px;
}

.logo {
  height: 30px;
}

.return {
  padding-right: 30px;
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

/*MAIN */

.main {
  width: 100%;
}

.image_menu {
  object-fit: cover;
  width: 100%;
  height: 230px;
}

.dishes {
  box-sizing: border-box;
  width: 100%;
  background-color: $backgroundgrey;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -30px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1 {
  font-family: "shrikhand", cursive;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: $tertiary;
}

.title_heart {
  display: flex;
  justify-content: space-between;
}

.div_heart_relative {
  position: relative;
}

.heart1 {
  padding: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: black;
  font-size: 2rem;
}

.heart2 {
  padding: 2px;
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: black;
  font-size: 2rem;
  left: 0;
  transition-duration: 1s;
  opacity: 0;
  background-image: linear-gradient(171deg, $secondary, $primary);
  &:hover {
    font-weight: bold;
    opacity: 1;
  }
}

/*STARTERS DISHES DESSERTS */

.parent_bold {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.starters {
  display: flex;
  flex-direction: column;
  animation: appear 3s;
}

.main_dishes {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: appear 3s 2s forwards;
}

.desserts {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: appear 3s 4s forwards;
}

@keyframes appear {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.article {
  position: relative;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: $box;
  margin-bottom: 10px;
  padding: 15px;
  &:hover .check {
    animation: checkbox 500ms forwards;
  }
  &:hover .content {
    animation: content1 500ms forwards;
  }
  &:hover i {
    transition: transform 500ms;
    transform: rotate(360deg);
  }
}

@keyframes checkbox {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}

@keyframes content1 {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}

.check {
  box-sizing: border-box;
  font-size: 20px;
  background-color: $tertiary;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 30px 0px 30px 25px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
}
p {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

h3 {
  margin: 0;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/*DEGRADE BUTTON */

.order {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.degrade_button {
  border-radius: 25px;
  padding: 15px 40px;
  border: none;
  @include degrade_color;
  color: white;
  box-shadow: $box;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
    opacity: 0.9;
  }
}

/*FOOTER*/
footer {
  background-color: rgb(44, 44, 44);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer_elements {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.logo_footer {
  font-family: "shrikhand", cursive;
  font-size: 20px;
  margin-bottom: 10px;
  overflow-x: visible;
}

.icon_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.icon_footer p {
  margin-bottom: 0px;
  margin-left: 5px;
  overflow-x: visible;
}

.p2 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

/*MEDIA QUERRIES TABLETTE*/

@media screen and (min-width: 700px) {
  .footer_elements {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .title_heart {
    justify-content: center;
    align-items: center;
  }
  .div_heart_relative {
    margin-left: 30px;
  }
  .article {
    width: 50%;
  }

  .starters,
  .main_dishes,
  .desserts {
    align-items: center;
  }

  @keyframes checkbox {
    from {
      width: 0%;
      opacity: 0;
    }
    to {
      width: 15%;
      opacity: 1;
    }
  }

  @keyframes content1 {
    from {
      width: 100%;
    }
    to {
      width: 85%;
    }
  }
}

/*MEDIA QUERRIES DESKTOP*/

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .article {
    width: 60%;
    max-width: 600px;
  }

  @keyframes checkbox {
    from {
      width: 0%;
      opacity: 0;
    }
    to {
      width: 10%;
      opacity: 1;
    }
  }

  @keyframes content1 {
    from {
      width: 100%;
    }
    to {
      width: 90%;
    }
  }
}
