/*PROPRIETES GENERALES*/
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: black;
  width: 100%;
  margin: 0px;
}

/*HEADER*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.logo {
  height: 30px;
}

/*LOCATION INPUT*/
.belleville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e2e2e2;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 2px solid #c2c1c1;
  -webkit-box-shadow: inset 0px 2px 2px #b8b7b7;
          box-shadow: inset 0px 2px 2px #b8b7b7;
}

.location {
  padding-right: 10px;
}

#search_location {
  background: none;
  border: none;
  width: 150px;
}

/*RESTAURANT BUTTON*/
.company {
  text-align: center;
  background-color: #f1eeee;
  padding: 40px;
}

h1,
h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.degrade_button {
  border-radius: 25px;
  padding: 15px 40px;
  border: none;
  background: linear-gradient(171deg, #ff79da, #9356dc);
  color: white;
  -webkit-box-shadow: 3px 3px 3px #e4e2e2;
          box-shadow: 3px 3px 3px #e4e2e2;
  cursor: pointer;
}

.degrade_button:hover {
  -webkit-box-shadow: 3px 3px 3px #9c9a9a;
          box-shadow: 3px 3px 3px #9c9a9a;
  opacity: 0.8;
}

/*CHOICE BUTTON*/
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 30px 0px;
}

.buttons_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: #f1eeee;
  width: 100%;
  border-radius: 18px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  padding: 5px 0px;
  -webkit-box-shadow: 3px 3px 3px #e4e2e2;
          box-shadow: 3px 3px 3px #e4e2e2;
}

.buttons_form:hover {
  background-color: #e5d5e9;
}

.number {
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -5px;
  margin-right: 25px;
}

.icon {
  margin-right: 25px;
  color: gray;
}

.buttons_form:hover i {
  color: #9356dc;
}

.button_name {
  background: none;
  border: none;
  font-weight: bold;
}

/*MENUS*/
main {
  width: 100%;
  background-color: #f1eeee;
  padding: 20px 0px;
}

.menus {
  width: 90%;
  margin: auto;
}

.image_new {
  position: relative;
}

.new {
  position: absolute;
  font-weight: bold;
  top: 20px;
  right: 30px;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 5px;
  color: #278870;
}

.image_menu {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu_design {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 3px 3px #e4e2e2;
          box-shadow: 3px 3px 3px #e4e2e2;
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}

.menu_design:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  opacity: 0.8;
  -webkit-box-shadow: 3px 3px 3px #6e6e6e;
          box-shadow: 3px 3px 3px #6e6e6e;
}

.link_menus {
  color: black;
}

.other_info_and_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

/*HEART TRANSITION*/
.div_heart_relative {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.heart1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: black;
  font-size: 2rem;
}

.heart2 {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: black;
  font-size: 2rem;
  left: 0;
}

.heart2:active {
  -webkit-animation: clic 1s;
          animation: clic 1s;
}

@-webkit-keyframes clic {
  from {
    opacity: 0;
    background-image: linear-gradient(171deg, #ff79da, #9356dc);
    font-weight: bold;
  }
  to {
    opacity: 1;
    background-image: linear-gradient(171deg, #ff79da, #9356dc);
    font-weight: bold;
  }
}

@keyframes clic {
  from {
    opacity: 0;
    background-image: linear-gradient(171deg, #ff79da, #9356dc);
    font-weight: bold;
  }
  to {
    opacity: 1;
    background-image: linear-gradient(171deg, #ff79da, #9356dc);
    font-weight: bold;
  }
}

/*FOOTER*/
footer {
  background-color: #2c2c2c;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p_footer {
  font-family: "shrikhand", cursive;
  margin: 10px 0px;
}

.icon_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.p_icon {
  margin: 5px;
}

.footer_elements {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */