/*PROPRIETES GENERALES*/

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: black;
  width: 100%;
  margin: 0px;
}

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$backgroundgrey: rgb(241, 238, 238);
$box: 3px 3px 3px rgb(228, 226, 226);
$border-top:rgb(194, 193, 193);
$heart-btn-start: $secondary;
$heart-btn-end: $primary;

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.logo {
  height: 30px;
}

/*LOCATION INPUT*/

.belleville {
  display: flex;
  justify-content: center;
  background-color: rgb(226, 226, 226);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 2px solid $border-top;
  box-shadow: inset 0px 2px 2px darken($border-top, 4);
}

.location {
  padding-right: 10px;
}

#search_location {
  background: none;
  border: none;
  width: 150px;
}

/*RESTAURANT BUTTON*/

.company {
  text-align: center;
  background-color: $backgroundgrey;
  padding: 40px;
}

h1,
h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.degrade_button {
  border-radius: 25px;
  padding: 15px 40px;
  border: none;
  background: linear-gradient(171deg, $secondary, $primary);
  color: white;
  box-shadow: $box;
  cursor: pointer;
}

.degrade_button:hover {
  box-shadow: 3px 3px 3px darken($border-top, 15);
  opacity: 0.8;
}

/*CHOICE BUTTON*/

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 30px 0px;
}

.buttons_form {
  display: flex;
  cursor: pointer;
  background-color: $backgroundgrey;
  width: 100%;
  border-radius: 18px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  padding: 5px 0px;
  box-shadow: $box;
  &:hover {
    background-color: rgb(229, 213, 233);
  }
}

.number {
  background-color: $primary;
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  margin-left: -5px;
  margin-right: 25px;
}

.icon {
  margin-right: 25px;
  color: gray;
}

.buttons_form:hover i {
  color: #9356dc;
}

.button_name {
  background: none;
  border: none;
  font-weight: bold;
}

/*MENUS*/

main {
  width: 100%;
  background-color: $backgroundgrey;
  padding: 20px 0px;
}

.menus {
  width: 90%;
  margin: auto;
}

.image_new {
  position: relative;
}

.new {
  position: absolute;
  font-weight: bold;
  top: 20px;
  right: 30px;
  background-color: $tertiary;
  padding: 5px;
  border-radius: 5px;
  color: darken($tertiary, $amount: 40);
}

.image_menu {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu_design {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: $box;
  transition: transform 800ms;
  &:hover {
    transform: scale(0.98);
    opacity: 0.8;
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
  }
}

.link_menus {
  color: black;
}

.other_info_and_heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

/*HEART TRANSITION*/

.div_heart_relative {
  position: absolute;
  bottom:30px;
  right:30px;
}

.heart1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: black;
  font-size: 2rem;
}

.heart2 {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: black;
  font-size: 2rem;
  left: 0;
  &:active {
    animation: clic 1s;
  }
}

@keyframes clic {
  from {opacity: 0;
    background-image: linear-gradient(171deg, $secondary, $primary);
    font-weight: bold;

  }
  to {opacity: 1;
    background-image: linear-gradient(171deg, $secondary, $primary);
    font-weight: bold;

  }
}

/*FOOTER*/
footer {
  background-color: rgb(44, 44, 44);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p_footer {
  font-family: "shrikhand", cursive;
  margin: 10px 0px;
}

.icon_footer {
  display: flex;
  align-items: center;
  width: 70%;
}

.p_icon {
  margin: 5px;
}

.footer_elements {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}


